* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  
  .container {
    height: auto;
    margin-right: 100px;
    margin-left: 100px;
}
  
  .logo{
      width: 16%;
      margin-top: 14px;
      padding-right: 15px;
      border-right: 1px solid lightgray;
    }

    .header li{
        list-style-type: none;
        display: inline;
    }
  
    .header li{
        font-size: 14px;
        margin: auto 5px;
        color: #b2b2b2;
    }

    .header ul{
        margin: 30px auto;
    }
  
  .yoga{
      background-image: url("img/banner.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 20px;
      border-radius: 8px;
      filter: brightness(80%);
    }

    .yoga img{
        border-radius: 8px;
    }

    .yoga h1,p{
        padding-left: 70px;
        color: white;
    }

    .yoga h1{
        padding-top: 28%;
    }

    .sezione2{
        margin: 30px auto;
    }

    .sezione2 h2{
        font-size: 40px;
    }

    .sezione2 h4{
        color: #b0b0b0;
    }
  
  .leadership{
      width: 100%;
      height: 400px;
      
  }
  
  
  
  .riquadro{
      float: left;
      width: 25%;
      border-top: 16px solid white;
      border-bottom: 16px solid white;
      height: 100%;
      background-repeat: no-repeat;
      height: 50%;
      filter: brightness(80%);
  }
  
  
  .big{
      width: 50%;
  }
  
  .designed{
      width: 100%;
      height: 20px;
      text-align: center;
}

.riquadro:nth-child(1){
    background-image: url("img/img-1.jpg");
    background-position: top;
    border-radius: 8px;
    width: 22%;
    
}

.riquadro:nth-child(2){
    background-image: url("img/banner-2.jpg");
    background-size: 100%;
    background-position: top;
    border-radius: 8px;
    margin: auto 32px;
    width: 50%;
}

.riquadro:nth-child(3){
    background-image: url("img/img-3.jpg");
    background-size: cover;
    border-radius: 8px;
    width: 22%;
}

.riquadro h3{
    margin-top: 210px;
    font-size: 20px;
}

.riquadro h5{
    margin-top: 10px;
    color: lightgray;
    font-size: 13px;
}

#cuore{
    color: red;
}