* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  
  .container {
    margin-right: 100px;
    margin-left: 100px;
}
  
  .logo{
      width: 16%;
      margin-top: 14px;
      padding-right: 15px;
      border-right: 1px solid lightgray;
    }

    .header li{
        list-style-type: none;
        display: inline-block
    }
  
    .header li{
        font-size: 14px;
        margin: auto 5px;
        color: #b2b2b2;
    }

    .header ul{
        margin: 30px auto;
    }
  
  .yoga{
      background-image: url("img/banner.jpg");
      width: 100%;
      height: 550px;
      margin-top: 20px;
      border-radius: 8px;
    }

    .yoga img{
        border-radius: 8px;
    }

    .yoga h1,p{
        padding-left: 70px;
        color: white;
    }

    .yoga h1{
        padding-top: 28%;
    }
  
  .light-blue{
      background-color: lightblue;
      width: 100%;
      height: 500px;
      margin-top: 20px;
      margin-bottom: 20px;
      
  }
  
  .riquadro-top{
      height: 10%;
  }
  
  
  .riquadro{
      float: left;
      width: 25%;
      border-top: 16px solid blue;
      border-bottom: 16px solid blue;
      height: 90%;
  }
  
  
  .big{
      width: 50%;
      border-right: 14px solid blue;
      border-left: 14px solid blue;
  }
  
  .purple{
      background-color: #8801fe;
      width: 100%;
      height: 70px;
      margin-top: 10px;
      
  }